@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: orange;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}
.padding-top{
    padding-top: 10px;
}
.content{
    max-width: 1250px;
    margin: auto;
}
.navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    background: orange;
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: orange;
}
.navbar .menu-list{
    display:inline-flex;
}
.menu-list li{
    list-style: none;

}
.navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    background-color: orange;
}
.menu-list li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    background-color: orange;
}
.container{
    width: 100%;
    padding: 5%;
    min-height: 50vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.small-container{
    width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: auto;
    min-width: auto;
    color: black;
}
.search-bar{
    width: 100%;
    max-width: 700px;
    background: orange;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}
.search-bar input{
    background: rgba(255, 255, 255, 0.2);
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
}
.search-bar button img{
    width: 25px;
}
.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: lightskyblue;
    position: absolute;
    right: 29%;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}
.login-container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    background: orange;
    border-radius: 25px;
}
span{
    color: black;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field{
    display: flex;
    flex-direction: column;
}
.input{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: black;
    padding: 0 0 0 42px;
    background: rgba(255, 255, 255, 0.1);
}
i{
    position: relative;
    top: -31px;
    left: 17px;
    color: black;
}
::-webkit-input-placeholder{
    color: #fff;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s;
}
.small-submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 10%;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s;
}
.blog-submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: orange;
    cursor: pointer;
    transition: .3s;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: black;
    margin-top: 10px;
}
.left{
    display: flex;
}
label a{
    color: black;
    text-decoration: none;
}
.alert{
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}
table, th, td{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 50%;
    height: 50%;
}
th{
    background-color: navy;
    text-align: left;
    color: white;
}
td{
    border: 1px solid #ddd;
    padding: 8px;
    background: white;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;

}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;


  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  background: transparent;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
}
.git{
    background: transparent;
}
.twitter{
    background: transparent;
}
li {
    display: inline;
}
img{
    float: left;
    width: 50px;
    height: auto;
    object-fit: cover;
}
.meter {
  box-sizing: content-box;
  height: 20px;
  position: relative;
  background: #555;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  width: 75%;
  justify-items: center;
  margin: auto;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.text-box{
    min-width: 500px;
    min-height: 100px;
    background: orange;
    justify-content: center;
    justify-items: center;
    margin: auto;

}
h1, h2, h3, h4 {
    font-weight: 100;
    text-align: center;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
ol{
    margin: auto;
    text-align: center;
}
